<% provide(:title, "About") %>
<h1>About</h1>
<p>
 I am a freelance web designer with over 5 years of experience in Web applications. 
'Simple and Effective' is the motto of my designs. Understanding the intricacies in a website and making it beautiful so that it catches the visitors eye is what I do best. Passionate about leveraging cutting edge technology to build light and fast websites.
</p>

<p> This is a sample website. This line breaks validation, and the Google Chrome Frame part won't work inside a conditional comment. To avoid these edge case issues it is recommended that you remove this line and use the .htaccess (or other server config) to send these headers instead. You also might want to read Validating: X-UA-Compatible. This is a sample website.</p>

<p>This is a sample website. The shortcut icons should be put in the root directory of your site. HTML5 Boilerplate comes with a default set of icons (include favicon and Apple Touch Icons) that you can use as a baseline to create your own. This is a sample website.

If your site or icons are in a sub-directory, you will need to reference the icons using link elements placed in the HTML head of your document.

For a comprehensive overview, please read Everything you always wanted to know about touch icons by Mathias Bynens. This is a sample website. This is a sample website.</p>