<div>
<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
Any Questions? Feel free to contact
</p>

<h5>Operating Hours</h5>
<u10>
<a><li>Monday to Friday 9.00 am - 9.00 pm</li></a>
<a><li>Saturday & Sunday 10.00 am - 5.00 pm</li></a>
<a><li>Public Holidays? Give us a call on Mobile </li></a>
</u10>

<p>
  <h5>Email</h5>
  <a href="mailto:sandeep.matanavar@gmail.com">sandeep.matanavar@gmail.com</a>
</p>
<p>
  <h5>Call</h5>
  <a>0469704156</a>
</p>
<p>
  <h5>Website</h5>
  <a href="http://www.go-online.herokuapp.com">www.go-online.herokuapp.com</a>
</p>


<form action="/my-handling-form-page" method="post">
  <h5>Contact Form</h5>
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg"></textarea>
    </div>
    <div class="button">
        <%= link_to "Send Message", '#', class: "btn btn-primary", type: "submit" %>
    </div>
  </div>
</div>
</div>
</form>
</div>