<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  The Google CDN version of the jQuery JavaScript library is referenced towards the bottom of the page using a protocol-independent path (read more about this in the FAQ). A local fallback of 
  <a href="http://www.google.com/">jQuery</a>.
  is included for rare instances when the CDN version might not be available, and to facilitate
  <a href="http://www.google.com/"><em>offline development.</em>
  book</a>.
</p>

<p>
Regardless of which JavaScript library you choose to use, it is well worth the time and effort to look up and reference the Google CDN (Content Delivery Network) version. Your users may already have this version cached in their browsers, and Google's CDN is likely to deliver the asset faster than your server.
</p>

<p>
Finally, an optimized version of the latest Google Analytics tracking code is included. Google recommends that this script be placed at the top of the page. Factors to consider: if you place this script at the top of the page, you’ll be able to count users who don’t fully load the page, and you’ll incur the max number of simultaneous connections of the browser.
</p>