
  <div class="container">
  
    <nav1>
      <ul class="nav navbar-nav navbar-left">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-th-list"></i>
              Services  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Submenu1", '#' %> </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-heart"></i>
              Testimonials  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Submenu1", '#' %> </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-truck"></i>
              Vehicles  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Submenu1", '#' %> </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-usd"></i>
              Pricing  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Submenu1", '#' %> </li>
            </ul>
          </li> 


           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-users"></i>
              Customers  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Submenu1", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Submenu1", '#' %> </li>
            </ul>
          </li> 


           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-university"></i>
              Company  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "About Us", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Team", '#' %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Careers", '#' %> </li>
              <li class="divider"></li>
               <li> <%= link_to "Press", '#' %> </li>
            </ul>
          </li> 


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-phone"></i>
              Contact  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Call 04894483839", '#' %> </li>
              <li class="divider"></li>
             <li> <%= link_to "Email sandeep.asfd@asdf.com", '#' %> </li>
            </ul>
          </li>

      </ul>
    </nav1>

  </div>


<div class="center jumbotron"> 
  <h1>Welcome to Go-Online</h1>

  <h2>
    Simple and Effective 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", alt: "Sign up now!" %>
  
</div>




<div class="container">
    <div class="row">
        <div class="span4">
            <h3>How Can I help?</h3> 
            <p> 
                Do you have a business and wish to take it online? Here is what we could do, 
				<li>Discuss the business requirements of yours over a cup of coffee or via Skype/Gtalk or any other mediums. Note that I am currently based in Canberra but I can visit Sydney. </li>
				<li>After brainstorming on the design, I will propose a design on the things that would be available on the website. </li>
				<li>If you are happy, we can take it forward and deliver your website within an agreed duration of time.</li>
				</p>
				<p>
				I am a freelance web designer with over 5 years of experience in Web applications. 
				'Simple and Effective' is the motto of my designs. Understanding the intricacies in a website and making it beautiful so that it catches the visitors eye is what I do best. Passionate about leveraging cutting edge technology to build light and fast websites. 
			</p>
				<p>
				Basic website cost starts from $300. Depending on the features, cost goes up. Click <a><%= link_to "here", contact_path %></a> for Contact and more information

            </p>
        </div>  
        </div>  
    </div>  








