<footer class="footer">
  <small>
    <span class="fa-stack fa-2x">
      <a href="https://www.twitter.com/sandeep_cm">
      <i class="fa fa-twitter"></i>
      </a>
    </span>

    <span class="fa-stack fa-2x">
      <a href="https://www.facebook.com">
      <i class="fa fa-facebook-official"></i>
      </a>
    </span>

    <span class="fa-stack fa-2x">
      <a href="https://www.linkedin.com">
      <i class="fa fa-linkedin"></i>
      </a>
    </span>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
